$page-main-header-height: 50px;
$page-main-footer-height: 40px;
$header-title-font-size: 18px;
$header-middle-font-size: 25px;
$app-locate-max-font: 36px;
$app-element-margin: 15px;
$header-max-font-size: 32px;
$table-font-size: 12px;
$button-font-size: 14px;
