$app-new-background-color: #f7f7f7;
$app-white-background-color: #ffffff;
$app-gray-background-color: #cccccc;
$app-search-input-background-color: #f2f2f2;
$app-super-input-background-color: #f8f8f8;
$app-search-input-border-color: #d5d5d5;
$app-header-new-background-color: #409eff;
$app-drawer-fill-color: white;
$app-black-color: black;
$app-crane-white: #fdfdfd;
$page-main-button-stop-background: rgba(245, 108, 108, 0.6);
$app-drawer-select-color: rgba(75, 137, 220, 0.4);
$app-order-background-color: rgb(49, 51, 71);
$app-gray-color: #606266;
$app-red-color: #f56c6c;
$app-text-color: #696969;
$app-crane-alpha-blue-title: #02a7f0;
$app-three-background: #dcdcdc;
$app-black-color-title: #303133;
$app-coil-background-color: #ffb202;
$app-input-border-color: #7b7b9a;
$app-login-person-color: #aaaaaa;
$app-customer-blue-background: #4b89dc;
$app-customer-blue-alpha-background: rgba(75, 137, 220, 0.17);
$app-font-crane-local-color: #c6c6c6;
$app-crane-color: #ffdf25;
$app-fill-green-color: #67c23a;
$app-abnormal-color: #dc143c;
$app-blue-alpha-button: rgba(64, 158, 255, 0.6);
$app-saddle-back-color: #555555;
$app-font-color-active: #edfaff;
$app-crane-color-header: #313247;
$app-drawer-fill-color: white;
$app-header-footer-title-color: white;
$app-button-disable-background: #797979;
$app-batch-generation-color: rgba(64, 158, 255, 0.2);
$app-switch-color: rgba(149, 190, 251, 0.3);
$app-font-color-normal: #dddddd;
$app-violet-color: #8080ff;
$app-danger-color: #da2222;
